#comment-input {
    min-height: 70px;
    white-space: normal;
    flex-direction: column;
}

#shared-toggle {
    width: 15px;
    position: absolute;
    right: 0;
}

.unity-base-field {
    width: 99%;
}

.shared-variable-field {
    width: 99%;
    padding-right: 20px;
}

.list-field {
    width: 102.5%;
    left: -10px;
}