.unity-float-field__input {
    min-width: 50px;
}

.unity-text-field__input {
    min-width: 100px;
}

.list-v1 {
    min-width: 250px;
}

.list-v2 {
    min-width: 300px;
}

.list-v3 {
    min-width: 350px;
}

.list-v4 {
    min-width: 400px;
}